@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root {
   --primary-color: rgb(50, 86, 100);
   --primary-color-dark: rgb(32, 55, 64);
}

* { 
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;

}

h1 {
    text-align: center;
}

li {
    list-style: none;
}

.div-pai {
    display: flex;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
}

.table-1 {
    padding-right: 5rem;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;

}

form button:hover{
    background: var(--primary-color-dark);
}

.paragrafo-positivo {
    background: #3bf44e;
    padding: 10px 10px;
}

.paragrafo-negativo {
    background: #ed2c2c;
    padding: 10px 10px;
}